/**
*
* Highlight
*
**/

.highlight-module {
  overflow: hidden;
  margin-top: $lineHeight*2;
  margin-bottom: $lineHeight;
  position: relative;
  &::after {
    background: $colorGrayBackground;
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 0;
    width: 100%;
    right: 0;
    left: 0;
  }
  ul, ol { padding-left: 0; }
}

.highlight-module__container {
  @include container;
  padding-bottom: $lineHeight*3;
  z-index: 1;
  @include highlight-symbol();
  @include medium { padding-bottom: $lineHeight*2; }
  @include wide { min-height: $lineHeight*8; }
}

.highlight-module__title {
  @include type--huge;
  padding-top: $lineHeight;
  @include wide { @include type--xxlarge; }
}

.highlight-module__cta { display: block; }

/* LEARNING */

.highlight-module--learning {
  color: #fff;
  &::after { background-color: $colorLearning; }
  a {
    color: #fff;
    text-decoration: underline;
  }
}

/* REMEMBER */

.highlight-module--remember {
  color: #fff;
  &::after { background-color: $colorRemember; }
  a {
    color: #fff;
    text-decoration: underline;
  }
}

/* CODE */

.highlight-module--code {
  overflow: visible;
  margin-bottom: $lineHeight*2;
  pre {
    margin: 0;
    padding-top: $lineHeight;
    font-size: $fontBase - 2;
    line-height: $lineHeight;
    padding: {
      bottom: 0;
      left: 0;
      right: 0;
    }
    span {
      margin: 0;
      padding: 0;
      display: inline-block;
    }
  }
  code {
    margin: 0;
    padding: 0;
    word-spacing: -2px;
    display: block;
  }
  .highlight-module__container { padding-bottom: 0; }
  .highlight-module__cta {
    position: absolute;
    bottom: -$lineHeight;
  }
}

/* LEFT */

.highlight-module--left {
  &::after {
    @include wide {
      width: 80%;
      right: 20%;
    }
  }
}

/* RIGHT */

.highlight-module--right {
  &::after {
    @include wide {
      width: 80%;
      left: 20%;
    }
  }
  &.highlight-module--code {
    &::after {
      @include wide {
        width: 100%;
        left: 0;
      }
    }
  }
}

/* INLINE */

.highlight-module--inline {
  color: $colorText;
  overflow: visible;
  margin: $lineHeight 0 0;
  & .highlight-module__container {
    padding-bottom: 0;
    &::before { display: none; }
  }
  & .highlight-module__content {
    border: {
      color: $colorGrayKeyline;
      style: solid;
      width: 1px;
    }
    border-left-width: 0;
    border-right-width: 0;
    margin-bottom: -2px; // Offsetting 2px to considerate border top/bottom - baseline rules.
    padding:  0 0 $lineHeight;
  }
  & .highlight-module__title { @include type--large; }
  &.highlight-module--remember {
    & .highlight-module__title, & li::before { color: $colorRemember; }
  }
  &.highlight-module--learning {
    & .highlight-module__title, & li::before { color: $colorLearning; }
  }
  &::after { display: none !important; }
}

/* COLORS */

div.highlight > pre > code,
code .highlight  {
  background: transparent;
  .c { color: #998; font-style: italic } /* Comment */
  .err { color: #a61717; background-color: #e3d2d2 } /* Error */
  .k { } /* Keyword */
  .o { } /* Operator */
  .cm { color: #998; font-style: italic } /* Comment.Multiline */
  .cp { color: $colorGray; } /* Comment.Preproc */
  .c1 { color: #998; font-style: italic } /* Comment.Single */
  .cs { color: $colorGray; font-style: italic } /* Comment.Special */
  .gd .x { color: #000; background-color: #faa } /* Generic.Deleted.Specific */
  .ge { font-style: italic } /* Generic.Emph */
  .gr { color: #a00 } /* Generic.Error */
  .gh { color: $colorGray } /* Generic.Heading */
  .gi { color: #000; background-color: #ddffdd } /* Generic.Inserted */
  .gi .x { color: #000; background-color: #aaffaa } /* Generic.Inserted.Specific */
  .go { color: #888 } /* Generic.Output */
  .gp { color: #555 } /* Generic.Prompt */
  .gs { } /* Generic.Strong */
  .gu { color: #aaa } /* Generic.Subheading */
  .gt { color: #a00 } /* Generic.Traceback */
  .kc { } /* Keyword.Constant */
  .kd { } /* Keyword.Declaration */
  .kp { } /* Keyword.Pseudo */
  .kr { } /* Keyword.Reserved */
  .kt { color: #458; } /* Keyword.Type */
  .m { color: #099 } /* Literal.Number */
  .s { color: $colorLearning } /* Literal.String */
  .na { color: #008080 } /* Name.Attribute */
  .nb { color: #0086B3 } /* Name.Builtin */
  .nc { color: #458; } /* Name.Class */
  .no { color: #008080 } /* Name.Constant */
  .ni { color: #800080 } /* Name.Entity */
  .ne { color: #900; } /* Name.Exception */
  .nf { color: #900; } /* Name.Function */
  .nn { color: #555 } /* Name.Namespace */
  .nt { color: $colorRemember } /* Name.Tag */
  .nv { color: #008080 } /* Name.Variable */
  .ow { } /* Operator.Word */
  .w { color: #bbb } /* Text.Whitespace */
  .mf { color: #099 } /* Literal.Number.Float */
  .mh { color: #099 } /* Literal.Number.Hex */
  .mi { color: #099 } /* Literal.Number.Integer */
  .mo { color: #099 } /* Literal.Number.Oct */
  .sb { color: $colorLearning } /* Literal.String.Backtick */
  .sc { color: $colorLearning } /* Literal.String.Char */
  .sd { color: $colorLearning } /* Literal.String.Doc */
  .s2 { color: $colorLearning } /* Literal.String.Double */
  .se { color: $colorLearning } /* Literal.String.Escape */
  .sh { color: $colorLearning } /* Literal.String.Heredoc */
  .si { color: $colorLearning } /* Literal.String.Interpol */
  .sx { color: $colorLearning } /* Literal.String.Other */
  .sr { color: #009926 } /* Literal.String.Regex */
  .s1 { color: $colorLearning } /* Literal.String.Single */
  .ss { color: #990073 } /* Literal.String.Symbol */
  .bp { color: $colorGray } /* Name.Builtin.Pseudo */
  .vc { color: #008080 } /* Name.Variable.Class */
  .vg { color: #008080 } /* Name.Variable.Global */
  .vi { color: #008080 } /* Name.Variable.Instance */
  .il { color: #099 } /* Literal.Number.Integer.Long */
}

div.highlight > pre > code .gs,
code .highlight .gd { color: #000; background-color: #fdd } /* Generic.Deleted */
